@using HeroesCup.Web.ClubsModule
@model HeroesCup.Web.ClubsModule.Models.MissionIdeaEditModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@inject HeroesCup.Localization.ManagerLocalizer HeroesCupLocalizer
@{
    ViewBag.Title = "Edit mission idea";
    ViewBag.MenuItem = HeroesCupLocalizer.Mission["Mission Ideas"];
}

@section script{
    <script src="/manager/clubsmodule/js/summernote-editor.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/manager/clubsmodule/js/mission-location-autocomplete.js" type="text/javascript"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="/manager/clubsmodule/js/mission-datetimepicker.js" type="text/javascript"></script>

    <script src="/manager/clubsmodule/js/validation-modal.js"></script>
}

@using (var form = Html.BeginForm("Save", "MissionIdeas", FormMethod.Post, new { @class = "form validate", role = "form", novalidate = "", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.MissionIdea.Id)
    @Html.HiddenFor(m => m.ImageId)

    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@HeroesCupLocalizer.MissionIdea["Mission Ideas"]</li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="@Url.Action("List")">@HeroesCupLocalizer.MissionIdea["Mission Ideas"]</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.General["Edit"]</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                @if ((await Auth.AuthorizeAsync(User, Permissions.MissionsSave)).Succeeded)
                {
                    <button type="submit" class="btn btn-labeled btn-success pull-right">
                        <span class="btn-label">
                            <i class="fas fa-check"></i>
                        </span>
                        @Localizer.General["Save"]
                    </button>
                }

                @if ((await Auth.AuthorizeAsync(User, Permissions.MissionsPublish)).Succeeded && Model.MissionIdea.Id != Guid.Empty)
                {
                    @if (Model.MissionIdea.IsPublished == false)
                    {
                        <button asp-action="Publish" class="btn btn-labeled btn-success pull-right">
                            <span class="btn-label">
                                <i class="fas fa-check"></i>
                            </span>
                            @Localizer.General["Publish"]
                        </button>
                    }
                    else
                    {
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                <button asp-action="Unpublish" class="dropdown-item" href="#">
                                    <i class="fas fa-undo"></i> @Localizer.General["Unpublish"]
                                </button>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <span class="title">@Localizer.General["General"]</span>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.General["Title"]</label>
                            @Html.TextBoxFor(m => m.MissionIdea.Title, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Mission["Location"]</label>
                            @Html.TextBoxFor(m => m.MissionIdea.Location, new { @class = "form-control small", maxlength = 128, required = "", id = "location" })
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Mission["Club Organizer"]</label>
                            @Html.TextBoxFor(m => m.MissionIdea.Organization, new { @class = "form-control small", required = "" })
                            @Html.HiddenFor(m => m.MissionIdea.Organization)
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Mission["Mission Idea URL"]</label>
                            @Html.TextBoxFor(m => m.MissionIdea.TimeheroesUrl, new { @class = "form-control small", type = "text", required = "" })
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.General["Image"]</label>
                            <div class="row col-12">
                                <div class="col-6">
                                    @if (Model.ImageId != null)
                                    {
                                        <img src="/images/@Model.ImageId" alt="Mission Idea Image">
                                    }
                                    else
                                    {
                                        <img src="~/manager/clubsmodule/images/no_image.png" alt="Mission Idea Image">
                                    }

                                </div>
                                <div class="col-6">

                                    @if (Model.ImageId != null)
                                    {
                                        <input type="file" asp-for="Image" class="form-control-file"/>
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        <div class="invalid-tooltip">
                                            @HeroesCupLocalizer.General["Mandatory field"]
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="file" asp-for="Image" class="form-control-file" required/>
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                        <div class="invalid-tooltip">
                                            @HeroesCupLocalizer.General["Mandatory field"]
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Mission["Start Date"]</label>
                            <div class="input-group date">
                                <input asp-for="UploadedStartDate" class="form-control" type="text" id='start_date' name="UploadedStartDate" required="required" data-provide="datepicker"/>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Mission["End Date"]</label>
                            <div class="input-group date">
                                <input asp-for="UploadedEndDate" class="form-control" type="text" id='end_date' name="UploadedEndDate" required="required" data-provide="datepicker"/>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.General["Content"]</label>
                            @Html.TextAreaFor(m => m.MissionIdea.Content, new { @class = "form-control small editor", id = "editor", required = "" })
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.General["Mandatory field"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_ValidationModal" model="null"/>
}