@model HeroesCup.Web.Models.Events.EventsArchive

@{
    ViewBag.TypeId = Model.TypeId;
    var eventsParams = new Dictionary<string, string>()
    {
        {"loadRequest", "true" }
    };
}

@section head {
    <partial name="~/Views/Shared/Partial/_TwitterMeta.cshtml" for="@Model.SocialNetworksMetaData" />
    <partial name="~/Views/Shared/Partial/_FacebookMeta.cshtml" for="@Model.SocialNetworksMetaData" />
}

<div class="main mt-md-5 pt-md-4 mt-5 pt-4">
    <div class="container mt-md-5 pt-md-5">
        @* Events Posts *@
        @if (Model.Archive.Posts.Count > 0)
        {
            <partial name="~/Views/Events/_EventsList.cshtml" for="@Model.Archive.Posts" />
            <div class="row justify-content-center mt-4 mb-4 pb-4">
                <form asp-controller="Events" class="margin-bottom" asp-action="EventsArchive" method="post">
                    <button id="load-events" type="submit" class="btn btn-default btn-heroes" asp-all-route-data="@eventsParams">Покажи още</button>
                </form>
            </div>
        }

        <div class="separator mt-4"></div>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title" />
    </div>
</div>