@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HeroesCup.Web.ClubsModule.Controllers
@using HeroesCup.Web.ClubsModule.Models
@inject IConfiguration Configuration

@{
    ViewBag.Title = "Доброволческото състезание на училищата в България";

    var mainBodyClass = GetMainBodyClass();
    var schools = ViewBag.Schools;
    string GetMainBodyClass()
    {
        if (ViewBag.TypeId == "StartPage")
        {
            return "home-background";
        }

        if (ViewBag.TypeId == "ResourcesArchive")
        {
            return "resources-background";
        }

        if (ViewBag.TypeId == "EventsArchive")
        {
            return "events-background";
        }

        if (ViewBag.TypeId == "AboutPage")
        {
            return "about-background";
        }

        if (ViewBag.TypeId == "MissionsPage")
        {
            return "missions-background";
        }

        return string.Empty;
    }
}
<!doctype html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/css/consent-banner.css"/>
    <link rel="stylesheet" href="~/css/custom-select.css"/>
    <script src="https://kit.fontawesome.com/e8be9fcdae.js" crossorigin="anonymous"></script>
    <partial name="Partial/_Favicons.cshtml"/>
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration.GetSection("GoogleRecaptcha").GetSection("SiteKey").Value"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172912338-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        if (localStorage.getItem('consentMode') === null) {
            gtag('consent', 'default', {
                'functionality_storage': 'denied',
                'security_storage': 'denied',
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'denied',
                'personalization_storage': 'denied',
                'wait_for_update': 500,
            });
            } else {
            gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')));
            }

            window.onload = function() {
            const cookie_consent_banner_dom = `
                <div id="cookie-consent-banner" class="cookie-consent-banner">
                    <h3>Този сайт използва бисквитки!</h3>
                    <p>
                Ние използваме бисквитки, за да персонализираме съдържанието и рекламите, да предоставяме функции на социалните медии и да анализираме трафика. Също така споделяме информация за използването на нашия сайт със социалните медии, рекламните партньори и платформите за анализ, които може да я комбинират с друга информация, предоставена от теб или събрана от тях при използването на техните услуги.
                </p>
                    <div class="cookie-consent-options">
                    <label><input id="consent-necessary" type="checkbox" value="Necessary" checked disabled>Най-необходими</label>
                    <label><input id="consent-analytics" type="checkbox" value="Analytics" checked>Анализ</label>
                    <label><input id="consent-marketing" type="checkbox" value="Marketing" checked>Маркетинг</label>
                    <label><input id="consent-preferences" type="checkbox" value="Preferences" checked>Персонализиране на реклами</label>
                    <label><input id="consent-partners" type="checkbox" value="Partners">Партньори</label>
                    </div>
                    <div class="cookie-consent-buttons">
                    <button id="cookie-consent-btn-reject-all" class="cookie-consent-button btn-grayscale">Отхвърли всички</button>
                    <button id="cookie-consent-btn-accept-some" class="cookie-consent-button btn-outline">Приеми избраното</button>
                    <button id="cookie-consent-btn-accept-all" class="cookie-consent-button btn-success">Приеми всички</button>
                    </div>
                </div>
            `

            document.body.insertAdjacentHTML('beforeend', cookie_consent_banner_dom)
            const cookie_consent_banner = document.body.lastElementChild

            function dnt () {
                return (navigator.doNotTrack == "1" || window.doNotTrack == "1")
            }

            function gpc () {
                return (navigator.globalPrivacyControl || window.globalPrivacyControl)
            }

            function showBanner() {
                const cm = JSON.parse(window.localStorage.getItem('consentMode'))
                if (cm && cm.functionality_storage) {
                if (cm.functionality_storage == 'granted') {
                    document.querySelector('#consent-necessary').checked = true
                    document.querySelector('#consent-necessary').disabled = true
                } else {
                    document.querySelector('#consent-necessary').checked = false
                    document.querySelector('#consent-necessary').disabled = false
                }
                document.querySelector('#consent-analytics').checked = (cm.analytics_storage == 'granted') ? true : false
                document.querySelector('#consent-preferences').checked = (cm.ad_personalization == 'granted') ? true : false
                document.querySelector('#consent-marketing').checked = (cm.ad_storage == 'granted') ? true : false
                document.querySelector('#consent-partners').checked = (cm.ad_personalization == 'granted') ? true : false
                }
                cookie_consent_banner.style.display = 'flex';
            }

            function hideBanner() {
                cookie_consent_banner.style.display = 'none';
            }

            window.cookieconsent = {
                show: showBanner,
                hide: hideBanner
            }

            function setConsent(consent) {
                const consentMode = {
                'ad_storage': (consent.marketing && !dnt()) ? 'granted' : 'denied',
                'analytics_storage': (consent.analytics && !dnt()) ? 'granted' : 'denied',
                'ad_user_data': (consent.marketing && !dnt()) ? 'granted' : 'denied',
                'ad_personalization': (consent.partners && !gpc()) ? 'granted' : 'denied',
                'functionality_storage': consent.necessary ? 'granted' : 'denied',
                'personalization_storage': consent.preferences ? 'granted' : 'denied',
                'security_storage': consent.necessary ? 'granted' : 'denied',
                };
                window.cookieconsent.consentMode = consentMode
                gtag('consent', 'update', consentMode);
                localStorage.setItem('consentMode', JSON.stringify(consentMode));
            }

            if (cookie_consent_banner) {
                Array.from(document.querySelectorAll('.cookie-consent-banner-open')).map(btn => {
                btn.addEventListener('click', () => {
                    showBanner()
                })
                })

                if (window.localStorage.getItem('consentMode')) {
                hideBanner()
                } else {
                showBanner()
                }

                cookie_consent_banner.querySelector('#cookie-consent-btn-accept-all').addEventListener('click', () => {
                setConsent({
                    necessary: true,
                    analytics: true,
                    preferences: true,
                    marketing: true,
                    partners: true
                });
                hideBanner();
                });
                cookie_consent_banner.querySelector('#cookie-consent-btn-accept-some').addEventListener('click', () => {
                setConsent({
                    necessary: true,
                    analytics: document.querySelector('#consent-analytics').checked,
                    preferences: document.querySelector('#consent-preferences').checked,
                    marketing: document.querySelector('#consent-marketing').checked,
                    partners: document.querySelector('#consent-partners').checked
                });
                hideBanner();
                });
                cookie_consent_banner.querySelector('#cookie-consent-btn-reject-all').addEventListener('click', () => {
                setConsent({
                    necessary: true,
                    analytics: false,
                    preferences: false,
                    marketing: false,
                    partners: false
                });
                hideBanner();
                });
            }
            }
        gtag('js', new Date());

        gtag('config', 'UA-172912338-1');
    </script>

    <title>@ViewBag.Title</title>

    @if (Model is IMeta)
    {
        <partial name="Partial/_Meta.cshtml"/>
    }

    @RenderSection("head", false)
    <!-- Facebook Pixel Code -->
    <script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '286910919236893'); fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=286910919236893&ev=PageView&noscript=1"/>
    </noscript><!-- End Facebook Pixel Code -->
</head>
<body class="@mainBodyClass modal-container">
<div class="modal fade justify-content-center" id="participateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content-custom  p-md-4 p-2">
            <a href="/" type="button" class="close modal-close d-block d-md-block" data-dismiss="modal" aria-label="Close"></a>
            <div class="row modal-header">
                <div class="col-12">
                    <h2 class="heading2 modal-title d-none d-md-block">Участвай в Купата!</h2>
                    <san>Вече си регистриран? <a href="/manager">Влез в профила си</a></san>
                </div>
            </div>
            <div class="modal-body body2">
                <form name="participateForm" onsubmit="return onParticipateFormSubmit(event)">
                    <div class="row">
                        <div class="col">
                            <label for="participant-name">Име</label>
                            <div class="form-group">
                                <input class="form-control" name="participant-name" required id="participant-name" placeholder="Име" />
                            </div>
                        </div>
                        <div class="col">
                            <label for="participant-lastname">Фамилия</label>
                            <div class="form-group">
                                <input class="form-control" required id="participant-lastname" name="participant-lastname" placeholder="Фамилия" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="participant-type">Ти си</label>
                            <div class="form-group">
                                <select class="form-control" id="participant-type" name="participant-type">
                                    <option>Ученик</option>
                                    <option>Координатор</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label for="participant-school">Училище</label>
                            <div class="form-group">
                                <div class="form-group">
                                    <input class="form-control" name="participant-school" required id="participant-school" placeholder="Училище" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="participant-grade">Клас</label>
                            <div class="form-group">
                                <input class="form-control" id="participant-grade" name="participant-grade"  type="range" min="1" max="12" placeholder="Клас" list="grades"/>
                                <datalist id="grades">
                                    <option value="1" label="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                    <option value="6" label="6" ></option>
                                    <option value="7" selected="selected"></option>
                                    <option value="8"></option>
                                    <option value="9"></option>
                                    <option value="10"></option>
                                    <option value="11" label="11"></option>
                                    <option value="12" label="12"></option>
                                </datalist>
                                <input type="number" name="participateGradeOutput" disabled="disabled" value="7" style="max-width: 40px"/>
                            </div>
                            
                        </div>
                        <div class="col">
                            <label for="participant-location">Населено място</label>
                            <div class="form-group">
                                <input class="form-control" id="participant-location" name="participant-location" required placeholder="Населено място" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="participant-email">Email</label>
                            <div class="form-group">
                                <input class="form-control" id="participant-email" type="email"  name="participant-email" required placeholder="Email" />
                            </div>
                        </div>
                        <div class="col">
                            &nbsp;
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="participant-more">Разкажи ни повече за себе си</label>
                            <div class="form-group">
                                <textarea class="form-control" id="participant-more" name="participant-more" required placeholder="Повече за теб" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" required="required"/> Съгласявам се с <a href="https://timeheroes.org/bg/pages/tocoop">Общите условия</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-heroes btn-lg body2-bold mt-3" 
                                    data-sitekey="@Configuration.GetSection("GoogleRecaptcha").GetSection("SiteKey").Value" 
                                    id="submit-participate-form"
                            >Изпрати</button>
                        </div>
                    </div>
                    <input type="hidden" id="participate-g-token" name="participant-token"/>
                </form>
            </div>
        </div>
    </div>
</div>
<header class="site-header main-blur @(ViewBag.HasImage == null || !ViewBag.HasImage ? "site-header-dark" : "") justify-content-center">
    @if (ViewBag.TypeId != "LandingPage")
    {
        <div class="fixed-top">
            <div class="fixed-container">
                <div class="row pl-0 pr-0">
                    <div class="col-md-12 col-sm-12 pl-0 pr-0">
                        <partial name="Partial/_Menu.cshtml"/>
                    </div>
                </div>
            </div>
        </div>
    }
</header>

@RenderBody()

<partial name="Partial/_Footer.cshtml"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/scripts/navbar.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js" integrity="sha512-yXXqOFjdjHNH1GND+1EO0jbvvebABpzGKD66djnUfiKlYME5HGMUJHoCaeE4D5PTG2YsSJf6dwqyUUvQvS0vaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000"
                },
                "button": {
                    "background": "#fe5e17",
                    "text": "#FFFFFF"
                }
            },
            "content": {
                "message": "\"Купата на героите\" от TimeHeroes ползва cookies, за да осигурим по-добро представяне на сайта и да подобрим Вашето преживяване. ",
                "dismiss": "Разбрах!",
                "link": "Научи повече",
                "href": "https://timeheroes.org/bg/pages/privacy"
            }
        });
    </script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&autoLogAppEvents=1&version=v7.0&appId=@Configuration["FacebookAppId"]"></script>
@RenderSection("script", false)
<script>
 document.participateForm["participant-grade"].oninput = function(){
    document.participateForm.participateGradeOutput.value = document.participateForm["participant-grade"].value;
 }
function onParticipateFormSubmit(e) {
  e.preventDefault();
  
  var siteKey = document.getElementById("submit-participate-form").getAttribute("data-siteKey");
  
  grecaptcha.ready(function() {
      grecaptcha.execute(siteKey, {action: 'submit'}).then(function(token) {
          $("#participate-g-token").val(token);
          var data = $(participateForm).serialize();
          $.ajax({
              type: 'POST',
              url: '/participate',
              contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
              data: data,
              success: function (result) {
                  $(participateForm)[0].reset();
                      $('#participateModal').modal('hide');
              },
              error: function (e) {
                  console.error(e);
              }
          })
      });
  });
}
$(".search-box, .search-box-result").on('submit',(e)=> {
        e.preventDefault();
        if (e.currentTarget.search.validity.valid) {
            grecaptcha.ready(function() {
                  const siteKey = e.currentTarget.getAttribute("data-siteKey");
                  grecaptcha.execute(siteKey, {action: 'submit'}).then(function(token) {
                      $(".search-token").each(function () {
                          $(this).val(token) 
                      });
                      $(e.currentTarget).unbind('submit').submit();
                      });    
                  });
            }
});
</script>
</body>
</html>