@using HeroesCup.Web.ClubsModule
@model HeroesCup.Web.ClubsModule.Models.HeroEditModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@inject HeroesCup.Localization.ManagerLocalizer HeroesCupLocalizer
@{
    ViewBag.Title = "Edit hero";
    ViewBag.MenuItem = HeroesCupLocalizer.Hero["Heroes"];
    var clubs = Model.Clubs;
    var clubsSelectList = new SelectList(clubs, "Id", "Name");
}

@section script{
    <script src="/manager/clubsmodule/js/validation-modal.js"></script>
}

@using (var form = Html.BeginForm("Save", "Heroes", FormMethod.Post, new { @class = "form validate", role = "form", novalidate = "" }))
{
    @Html.HiddenFor(m => m.Hero.Id)

    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@HeroesCupLocalizer.Club["Clubs"]</li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("List")">@HeroesCupLocalizer.Hero["Heroes"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.General["Edit"]</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                @if ((await Auth.AuthorizeAsync(User, Permissions.HeroesSave)).Succeeded)
                {
                    <button type="submit" class="btn btn-labeled btn-success pull-right">
                        <span class="btn-label">
                            <i class="fas fa-check"></i>
                        </span>
                        @Localizer.General["Save"]
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <span class="title">@Localizer.General["General"]</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>@HeroesCupLocalizer.Hero["Name"]</label>
                            @Html.TextBoxFor(m => m.Hero.Name, new { @class = "form-control small", maxlength = 128, required = "" })
                            <div class="invalid-tooltip">
                                @HeroesCupLocalizer.Hero["Name is mandatory."]
                            </div>
                        </div>
                    </div>
                    @if (Model.Hero.Id != Guid.Empty && Model.Hero.Club != null && Model.Hero.ClubId != Guid.Empty)
                    {
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@HeroesCupLocalizer.Club["Club"]</label>
                                @Html.TextBoxFor(m => m.Hero.Club.Name, new { @class = "form-control small", disabled = true })
                                @Html.HiddenFor(m => m.ClubId)
                                @Html.HiddenFor(m => m.Hero.Club.Id)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@HeroesCupLocalizer.Club["Club"]</label>
                                @Html.DropDownListFor(m => m.ClubId, clubsSelectList, new { @class = "form-control small", maxlength = 128, required = "" })
                            </div>
                        </div>
                    }

                </div>

                @if ((await Auth.AuthorizeAsync(User, Permissions.HeroesAddCoordinator)).Succeeded)
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>
                                    @HeroesCupLocalizer.Hero["Is Coordinator"]
                                    @Html.CheckBoxFor(m => m.Hero.IsCoordinator)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <partial name="_ValidationModal" model="null" />
}