@using HeroesCup.Web.ClubsModule
@model HeroesCup.Web.ClubsModule.Models.StoryListModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@inject HeroesCup.Localization.ManagerLocalizer HeroesCupLocalizer
@{
    ViewBag.Title = "Stories";
    ViewBag.MenuItem = HeroesCupLocalizer.Story["Stories"];
}

<div class="top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@HeroesCupLocalizer.Mission["Missions"]</li>
            <li class="breadcrumb-item active" aria-current="page">@HeroesCupLocalizer.Story["Stories"]</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="top-nav">
            @if ((await Auth.AuthorizeAsync(User, Permissions.StoriesAdd)).Succeeded)
            {
                <a href="@Url.Action("Add")" class="btn btn-labeled btn-primary pull-right">
                    <i class="fas fa-plus"></i>@Localizer.General["Add"]
                </a>
            }
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>@HeroesCupLocalizer.Story["Story"]</th>
            <th>@HeroesCupLocalizer.Mission["Mission"]</th>
            @if (User.IsInRole("SysAdmin") || User.IsInRole("Timeheroes"))
            {
                <th>@HeroesCupLocalizer.Club["Club"]</th>
            }
            <th>@HeroesCupLocalizer.General["Published"]</th>
            <th>@HeroesCupLocalizer.General["LastUpdate"]</th>
            <th class="actions one"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var story in Model.Stories)
        {
            <tr>
                <td>
                    @if ((await Auth.AuthorizeAsync(User, Permissions.StoriesEdit)).Succeeded)
                    {
                        <a href="@Url.Action("Edit", new { id = story.Id })">@story.StartText</a>
                    }
                    else
                    {
                        <span class="title">@story.StartText</span>
                    }
                </td>
                <td>
                    @if ((await Auth.AuthorizeAsync(User, Permissions.MissionsEdit)).Succeeded)
                    {
                        <a href="@Url.Action("Edit", "Missions", new { id = story.Mission.Id })">@story.Mission.Title</a>
                    }
                    else
                    {
                        <span class="title">@story.Mission.Title</span>
                    }
                </td>

                @if (User.IsInRole("SysAdmin") || User.IsInRole("Timeheroes"))
                {
                    <td>
                        @if ((await Auth.AuthorizeAsync(User, Permissions.ClubsEdit)).Succeeded)
                        {
                            <a href="@Url.Action("Edit", "Clubs", new { id = story.Mission.Club.Id })">@story.Mission.Club.Name</a>
                        }
                        else
                        {
                            <span class="title">@story.Mission.Club.Name</span>
                        }
                    </td>
                }

                <td>
                    @if (story.IsPublished)
                    {
                        <span class="title">
                            <i class="fas fa-check text-success"></i>
                        </span>
                    }

                </td>
                <td>
                    <span class="title">@story.LastUpdateOn</span>
                </td>
                <td class="actions one">
                    @if ((await Auth.AuthorizeAsync(User, Permissions.StoriesDelete)).Succeeded)
                    {
                        <a class="danger" href="@Url.Action("Delete", new { id = story.Id })">
                            <span class="fas fa-trash"></span>
                        </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>