@using HeroesCup.Web.Models.Missions
@model MissionsPage
@inject IApi Api
@inject IConfiguration Configuration;

@{
    ViewBag.TypeId = Model.TypeId;

    var selectLocations = new List<SelectListItem>();
    var currentMissionsCount = Model.Missions.Count();
    @foreach (var location in Model.MissionsPerLocation)
    {
        selectLocations.Add(new SelectListItem($"{location.Key} ({location.Value})", location.Key));
    }

    var defaultLocationText = $"Цяла България ({Model.MissionsCount})";
    var isLoadMoreRequested = Model.IsLoadMoreMissionsRequest;
    var missionsCountPerPage = int.Parse(Configuration["MissionsCount"]);
}

@section head {
    <partial name="~/Views/Shared/Partial/_TwitterMeta.cshtml" for="@Model.SocialNetworksMetaData"/>
    <partial name="~/Views/Shared/Partial/_FacebookMeta.cshtml" for="@Model.SocialNetworksMetaData"/>
}

<div class="main main-blurmt-md-5 pt-md-4 mt-5 pt-4">
    <div class="container pl-4 pr-4">

        <div class="tabbable mt-md-5 pt-md-5 pb-4">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active tab-title" data-toggle="tab" data-index="0" href="#missions" role="tab">
                        <span class="heading3 d-none d-md-block d-sm-none d-xs-none">Ученически мисии</span>
                        <span class="heading5 d-sm-block d-md-none">Ученически мисии</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-title" data-toggle="tab" data-index="1" href="#missionideas" role="tab">
                        <span class="heading3 d-none d-md-block d-sm-none d-xs-none">Грабни идея</span>
                        <span class="heading5 d-sm-block d-md-none">Грабни идея</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-title" data-toggle="tab" data-index="2" href="#stories" role="tab">
                        <span class="heading3 d-none d-md-block d-sm-none d-xs-none">Героите разказват</span>
                        <span class="heading5 d-sm-block d-md-none">Героите разказват</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show mb-4" id="missions">
                    <div class="row mt-md-5 mt-3 pt-4">
                        <div class="col-md-8 col-sm-12 pb-4">
                            <div class="col-12 pl-0 body2">Актуални и приключили инициативи, създадени от доброволчески клубове в Купата на героите.</div>
                        </div>
                        <div class="col-md-4 col-sm-12 text-sm-center">
                            <form asp-action="MissionsArchive" method="post" asp-for="SelectedLocation" id="location-form" class="float-md-right">
                                <div class="custom-select-wrapper">
                                    <div class="btn locations-button custom-select">
                                        <div class="custom-select__trigger justify-content-center">
                                            @if (Model.SelectedLocation == null || Model.SelectedLocation == string.Empty)
                                            {
                                                <span class="mr-3">@defaultLocationText</span>
                                            }
                                            else
                                            {
                                                <span class="mr-3">@Model.SelectedLocation (@currentMissionsCount)</span>
                                            }
                                        </div>
                                        <div class="custom-options">
                                            <input class="custom-option" type="submit" id="selectedLocation" name="selectedLocation" value="@defaultLocationText"/>
                                            @foreach (var location in selectLocations)
                                            {
                                                if (Model.SelectedLocation == location.Value)
                                                {
                                                    <input class="custom-option selected" type="submit" id="selectedLocation-@location.Value" name="selectedLocation" value="@location.Text"/>
                                                }
                                                else
                                                {
                                                    <input class="custom-option" type="submit" id="selectedLocation-@location.Value" name="selectedLocation" value="@location.Text"/>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @if (isLoadMoreRequested == false && Model.SelectedLocation == null)
                    {
                        <partial name="~/Views/Missions/_MissionsList.cshtml" for="@Model.Missions"/>

                        if (Model.Missions.Count() == missionsCountPerPage)
                        {
                            <div id="load-missions-container" class="row justify-content-center mt-4">
                                <button id="load-missions" class="btn btn-default btn-heroes">Покажи още</button>
                            </div>
                        }

                        <div id="missions-with-banner-partial"></div>
                    }
                    else
                    {
                        var missionsWithBanner = new MissionsWithBannerViewModel
                        {
                            ShownMissionsCount = Model.Missions.Count(),
                            Missions = Model.Missions,
                            MissionsCountPerPage = missionsCountPerPage
                        };

                        <partial name="~/Views/Missions/_MissionsListWithBanner.cshtml" for="@missionsWithBanner"/>
                    }

                </div>

                <div role="tabpanel" id="missionideas" class="tab-pane fade missions-block mb-4">
                    <div class="row mt-md-5 mt-3 pt-4 pb-4">
                        <div class="col-md-8 col-sm-12">
                            <div class="col-12 pl-0 body2">
                                Супер идеи за мисии, които може да организирате с вашия клуб.
                            </div>
                        </div>
                    </div>
                    <div id="missionideas-partial">
                        <partial name="~/Views/Missions/_MissionIdeasList.cshtml" for="@Model.MissionIdeas"/>
                    </div>
                    <div id="load-missionideas-container" class="row justify-content-center mt-4">
                        <button id="load-missionideas" class="btn btn-default btn-heroes">Покажи още</button>
                    </div>
                </div>

                <div role="tabpanel" id="stories" class="tab-pane fade missions-block mb-4">
                    <div class="row mt-md-5 mt-3 pt-4 pb-4">
                        <div class="col-md-8 col-sm-12">
                            <div class="col-12 pl-0 body2">Как преминаха мисиите досега или истории от сърцето на надпреварата.</div>
                        </div>
                    </div>
                    <div id="stories-partial">
                        <partial name="~/Views/Missions/_StoriesList.cshtml" for="@Model.Stories"/>
                    </div>
                    <div id="load-stories-container" class="row justify-content-center mt-4">
                        <button id="load-stories" class="btn btn-default btn-heroes">Покажи още</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <partial name="~/Views/Shared/Partial/_Challenge.cshtml" for="@Model.Title"/>
    </div>
</div>

@section script{
    <script src="~/scripts/missions-load-more.js" type="text/javascript"></script>
    <script src="~/scripts/missions-load-by-location.js" type="text/javascript"></script>
    <script src="~/scripts/custom-select.js" type="text/javascript"></script>
    <script src="~/scripts/missions-tabs.js" type="text/javascript"></script>
}